* {
    padding: 0;
    margin: 0;
}

body {
    background-color: aqua;
}

main {
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1em;
}

#loginWrapper {
    width: 100vw;
    display: flex;
    justify-content: center;
    
}

#loginForm {
    padding: 6em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Luckiest Guy', cursive;
}

#Buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#loginB {
    width: 80px;
    border-radius: 50px;
   background-color: #edb742;
}

#loginB:hover {
    background-image: linear-gradient(to right, #d69811, #e0a628, #f0ba46, #f5c96c, #f5d89a, #fae7be);
}

#signUpButton {
    width: 80px;
    border-radius: 50px;
    background-color: #c44a08;     
}

#signUpButton:hover {
    background-image: linear-gradient(to right, #e0570d, #e8631c, #f58042, #ed9668, #f7ad86, #fad3be);

}

input {
    border-radius: 50px;
}

label {
    padding: 0.5em;
}

#homeBanner {
    color: #edb742;
    text-align: center;
    padding: 1em;
}
#homeImage {
    width: 12.5vw;
}

#bannerImg {
    padding: 1em;
    text-align: center;
}    

h1 {
    font-size: 60px;
    font-family: 'Sniglet', cursive;
}

nav {
    display: flex;
    justify-content: center;
}

nav li {
    display: inline;
    padding: 3em;            
    font-size: 25px;
}

nav a {
    text-decoration: none;
    color: darkblue;
}

nav a:hover {
    background-color: white;
    border-radius: 50px;
}

ul {
    list-style-type: none;
}

li {
    padding-bottom: 1em;
    padding-top: 1em;
}

a {
    text-decoration: none;
    color: darkgreen;
}

#coinImages {
    width: 15%;
}

#error404Cat {
    width: 25%;
}